PORT=3000
ENVIRONMENT=development
JWT_SECRATE_KEY=
TOKEN_EXPIRE=86400
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=
API_URL=
SECONDARY_API_URL=
SECONDARY_API_CALL_TIME=5000
DEFAULT_DOMAIN=example.com
USERNAME=
PASSWORD=
ADMIN_API_ACCESS_USERNAME=
ADMIN_API_ACCESS_PASSWORD=
SEND_SMS_TOKEN=
PASSWORD_RESET_LINK=https://example.com/reset-password
MYSQL_HOST=localhost
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=opensips
MYSQL_PORT=3306
REGISTRANT_REGISTRAR=
REGISTRANT_BINDING_URI=
REGISTRANT_REGISTRAR_SECONDARY=
REGISTRANT_BINDING_URI_SECONDARY=
FILE_URL=http://localhost:3000/files
MONGOURI=mongodb://localhost:27017
MONGO_DB_NAME=opensip_provisioning
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=
FIREBASE_CLIENT_ID=
FIREBASE_CLIENT_CERT_URL=
APN_AUTH_KEY=
APN_KEY_ID=
APN_TEAM_ID=
